.dummy-tabs {
  margin: 0 50px;
  ul {
    height: 50px;
    border-bottom: 1px silver solid;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    li {
      display: inline-block;
      a {
        font-weight: 300;
        padding: 16px 8px;
        margin-right: 16px;
        text-decoration: none;
        color: black;
        code {
          background: rgba(27,31,35,.08);
          opacity: 0.7;
          border-radius: 50%;
        }
      }
    }
    li:nth-of-type(2) {
      border-bottom: 2px red solid;
      a {
        font-weight: 600;
      }
    }
  }
}

#filter-repo {
  margin: 0 50px;
  display: flex;
  width: 100%;
  .search-field {
    width: 40%;
    margin-left: 0 !important;
    input {
      width: 100%;
    }
  }
  select,
  label {
    margin-right: 10px;
  }
  .select {
    display: flex;
    .select-type,
    .language-type {
      font-size: 17px;
      height: 35px;
      display: inline-block;
      background: #eff3f6;
      border: 1px silver solid;
      border-radius: 5px;
      padding-left: 10px;
      select {
        background: #eff3f6;
        font-weight: bold;
        height: 100%;
        /* width: 100%; */
        border: 0;
        margin: 0;
        option {
          font-size: 17px;
        }
      }
    }
  }

  button {
    background: #21d94b;
    color: white;
    outline: none;
    border: 0;
  }
  button:hover {
    background: #28a745;
  }
}

@media (max-width: 1320px) {
  #filter-repo {
    flex-flow: row wrap;
    justify-content: center;

    .search-field {
      width: 100%;
    }
    .select {
      margin-top: 15px;
      width: 100%;
      justify-content: space-between;
    }
  }
}
@media (max-width: 850px) {
  #filter-repo {
    .select {
      .language-type,
      .select-type {
        font-size: 14px;
        select {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 533px){
  .dummy-tabs {
    ul {
      margin-right: 0;
      li {
        a {
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #filter-repo {
    .search-field {
      margin: 0;
      margin-right: 10px;
    }
    .select {
      flex-flow: row wrap;
      .language-type,
      .select-type {
        width: 45%;
        margin: 0;
        select {
          font-size: 10px;
          option {
            font-size: 10px;
          }
        }
      }
      button {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 406px){
  .dummy-tabs {
    ul {
      margin-right: 0;
      li {
        a {
          margin-right: 3px;
          font-size: 11px;
        }
      }
    }
  }
}