header {
  background-color: #24292e;
  margin-bottom: 50px;
  .header {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .logo {
      svg {
        height: 40px;
        width: 40px;
        fill: white;
      }
    }
  }
}


@media (max-width: 620px){
    header {
        .header {
            width: 90%;
            div {
                #profile-search {
                    input {
                        width: 150px;
                    }
                }
            }
        }
    }
}