#profile-search {
  text-align: center;

  label {
    margin-right: 30px;
    input {
      width: 200px;
    }
  }
  button {
    background: red;
    border: 0;

    color: white;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    background: #dd0000 !important;
  }
}
.btn {
  font-size: 17px;
  height: 35px;
  width: 75px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.input-field {
  font-size: 17px;
  height: 35px;
  border-radius: 5px;
  border: 1px silver solid;
  padding-left: 10px;
}
.input-field:focus {
  border-color: #2188ff;
  //   box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075),
  //     0 0 0 0.2em rgba(3, 102, 214, 0.3);
  outline: none;
  -webkit-box-shadow: 0px 0px 35px -7px rgba(33, 136, 255, 1);
  -moz-box-shadow: 0px 0px 35px -7px rgba(33, 136, 255, 1);
  box-shadow: 0px 0px 35px -7px rgba(33, 136, 255, 1);
}
